<div class="container our-container">
    <h1 class="our-title">Choose your dream yacht and sail away into the sunset</h1>
    <ul class="our-list">
      <li class="our-list-item">
        <picture class="our-picture">
            <source
              srcset="
              ../img/our-yachts/our-yachts-yaht-desktop.jpg   1x,
              ../img/our-yachts/our-yachts-yaht-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
              ../img/our-yachts/our-yachts-yaht-desk.jpg    1x,
              ../img/our-yachts/our-yachts-yaht-desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
              ../img/our-yachts/our-yachts-yaht-tab.jpg    1x,
              ../img/our-yachts/our-yachts-yaht-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
              ../img/our-yachts/our-yachts-yaht-mob.jpg    1x,
              ../img/our-yachts/our-yachts-yaht-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/our-yachts/our-yachts-yaht-mob.jpg"
              alt="Mediation App"
            />
          </picture>
        <h2 class="our-title-desc">Arrow</h2>
        <p class="our-desc">LUXURY YAHTS</p>
        <ul class="title-list">
          <li class="title-list-item">
            <h3 class="title-list-item-desc">LENGTH</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">BUILDER</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">BUILT</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">GUESTS</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">PRICE</h3>
          </li>
        </ul>
        <ul class="desc-list">
          <li  class="desc-list-item">
            <p class="desc-list-item-paragraph">48m(155ft) </p>
          </li>
          <li  class="desc-list-item">
            <p class="desc-list-item-paragraph">Admiral</p>
          </li>
          <li class="desc-list-item">
            <p class="desc-list-item-paragraph">2021</p>
          </li>
          <li  class="desc-list-item">
            <p class="desc-list-item-paragraph">11 in 5 cabins</p>
          </li>
          <li  class="desc-list-item">
            <p class="desc-list-item-paragraph">€33,500,000</p>
          </li>
        </ul>
      </li>
      <li class="our-list-item">        
        <picture class="our-picture">
            <source
              srcset="
              ../img/our-yachts/our-yachts-yaht-two-desktop.jpg    1x,
              ../img/our-yachts/our-yachts-yaht-two-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
              ../img/our-yachts/our-yachts-yaht-two-desk.jpg    1x,
              ../img/our-yachts/our-yachts-yaht-two-desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
              ../img/our-yachts/our-yachts-yaht-two-tab.jpg    1x,
              ../img/our-yachts/our-yachts-yaht-two-tab@2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              src="../img/our-yachts/our-yachts-yaht-two-tab.jpg"
              alt="Mediation App"
            />
          </picture>
        <h2 class="our-title-desc">BENETTI OASIS 40M BO122</h2>
        <p class="our-desc">LUXURY YAHTS</p>
        <ul class="title-list">
          <li class="title-list-item">
            <h3 class="title-list-item-desc">LENGTH</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">BUILDER</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">BUILT</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">GUESTS</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">PRICE</h3>
          </li>
        </ul>
        <ul class="desc-list">
          <li  class="desc-list-item">
            <p class="desc-list-item-paragraph">41m (133ft)</p>
          </li>
          <li  class="desc-list-item">
            <p class="desc-list-item-paragraph">Benetti</p>
          </li>
          <li class="desc-list-item">
            <p class="desc-list-item-paragraph">2025</p>
          </li>
          <li  class="desc-list-item">
            <p class="desc-list-item-paragraph">10 in 5 cabins</p>
          </li>
          <li  class="desc-list-item">
            <p class="desc-list-item-paragraph">€23,210,000</p>
          </li>
        </ul>
      </li>
      <li class="our-list-item">        
        <picture class="our-picture">
            <source
              srcset="
              ../img/our-yachts/our-yachts-yaht-three-desktop.jpg    1x,
              ../img/our-yachts/our-yachts-yaht-three-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
              ../img/our-yachts/our-yachts-yaht-three-desk.jpg   1x,
              ../img/our-yachts/our-yachts-yaht-three-desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="../img/our-yachts/our-yachts-yaht-three-desk.jpg"
              alt="Mediation App"
            />
          </picture>
        <h2 class="our-title-desc">BELLE ANNA</h2>
        <p class="our-desc">LUXURY YAHTS</p>
        <ul class="title-list">
          <li class="title-list-item">
            <h3 class="title-list-item-desc">LENGTH</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">BUILDER</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">BUILT</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">GUESTS</h3>
          </li>
          <li class="title-list-item">
            <h3 class="title-list-item-desc">PRICE</h3>
          </li>
        </ul>
        <ul class="desc-list">
          <li class="desc-list-item">
            <p class="desc-list-item-paragraph">50m(155ft)</p>
          </li>
          <li class="desc-list-item">
            <p class="desc-list-item-paragraph">ISA</p>
          </li>
          <li class="desc-list-item">
            <p class="desc-list-item-paragraph">2012</p>
          </li>
          <li class="desc-list-item">
            <p class="desc-list-item-paragraph">12 in 6 cabins</p>
          </li>
          <li class="desc-list-item">
            <p class="desc-list-item-paragraph">€21,000,000</p>
          </li>
        </ul>
      </li>
    </ul>
    <button class="our-btn" type="button">Yacht rental</button>
  </div>